body {
    margin: 0;
    background-color: #333;
    font-family: 'Bebas Neue', cursive;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
.navbar {
    background-color: #222;
    font-size: 25px;
}
.navbar>ul {
    /*border: 2px solid white;*/
    display: inline-block;
    vertical-align: middle;
}
.navbar>ul>li{
    /*border: 1px solid orange;*/
    display: inline-block;
    padding: 20px 10px;
    vertical-align: middle;
}
.navbar>ul.branding {
    margin-left: 50px;
    margin-right: 100px;
}
.navbar>ul.branding li:first-child{
    font-size: 50px;
 }

.navbar>ul.client {
    margin-left: 400px;
}
.navbar>ul>li>a {
    color: antiquewhite;
}
